{% load static %}
<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<meta name="keywords" content="автосервис, ремонт авто, техосмотр, ТО, кузовной ремонт, автотехцентр">
	<meta name="description" content="Техническое обслуживание и ремонт автомобиля любой сложности. Качественный кузовной ремонт, замена расходных материалов, замена запчастей." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>Автосервис у метро Крылатское | Ремонт авто</title>
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <!--Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	{% block style %}

	{% endblock %}
</head>
<body>

<header>
	<div class='logo'>
		<!--
		<img src={% static "logo.png" %} alt="logo">
		-->
		<h1>MagService</h1>
		<p>АвтоТехЦентр</p>
	</div>


	<div class="appointment-bar">
	</div>

	<div class="working-hours">
		<p>Ежедневно <span>10:00 - 21:00</span></p>
	</div>
	<div class="appointment">
		<i class='bx bx-right-arrow-circle' onclick="toggleAppointment()"></i>
		<h2 onclick="toggleAppointment()">Записаться в сервис</h2>
		<img src={% static "close.png" %} onclick="toggleAppointment()">
		<h1>АвтоТехЦентр</h1>
    <form action="{% url 'thanks_page' %}" method="POST">{% csrf_token %}
    		<p>Имя:</p>{{ form.name }}
    		<p>Телефон:</p>{{ form.phone }}
    		<p>Дата:</p>{{ form.date }}<br>
        <button type="submit">Записаться</button>
    </form>
	</div>

	<div class="contact-bar">
		<div class="contact">
			<p class="phone-phrase">Связаться с нами по телефону</p>
			<p class="phone"><i class='bx bx-phone' ></i><span>+7(<span class="phone-code">926</span>)175-21-82</span></p>
		</div>
	</div>
</header>
<ul class="navigation">
		<i class='bx bx-x' onclick="toggleMenu()"></i>
		<h1>MagService</h1>
		<li><a href="{% url 'main_page' %}">Главная</a></li>
		<li><a href="{% url 'main_page'%}#service-list" onclick="toggleMenu()">Наши услуги</a></li>
		<li><a href="{% url 'gallery' %}">Галерея</a></li>
		<li><a href="{% url 'main_page'%}#about_us" onclick="toggleMenu()">О нас</a></li>
		<li><a href="#our_contacts" onclick="toggleMenu()">Контакты</a></li>
	</ul>
<i class='bx bx-menu' onclick="toggleMenu()"></i>


{% block content %}

{% endblock %}
<p id="our-contacts"></p>
<div class="contacts-h1" id="our_contacts">
	<h1>Наши контакты</h1>
</div>
<p class="line-contacts"></p>
<div class="google-maps" id="google-maps">

	<div class="contacts">
		<h2>Наши контакты:</h2>

		<table cellspacing="10" cellpadding="200px">
			<tr>
                <td><i class='bx bxs-map' ></i></td>
				<td><p>123458, Москва, Маршала Прошлякова ул., 19</p></td>
			</tr>
			<tr></tr>
			<tr>
				<td><i class='bx bxs-phone-call'></i></td>
				<td><p>+7(926)175-21-82</p></td>
			</tr>
			<tr></tr>
			<tr>
				<td><i class='bx bxl-gmail' ></i></td>
				<td><p>maga_service@mail.ru</p></td>
			</tr>
		</table>
		<h2>График работы:</h2>
		<table cellspacing="10" cellpadding="200px">
			<tr>
				<td><i class='bx bxs-time' ></i></td>
				<td><p>Ежедневно <span>10-21</span></p></td>
			</tr>
		</table>
	</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1121.6311538313166!2d37.383539!3d55.788683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2c7d52e3b9ee52d0!2z0JDQstGC0L7RgtC10YXRhtC10L3RgtGAINCa0YPQt9C-0LLQvdC-0Lkg0YbQtdGF!5e0!3m2!1sru!2sru!4v1642155186132!5m2!1sru!2sru" style="border: none; width: 100vw; height: 50vh; position: relative;" allowfullscreen="" loading="lazy"></iframe>
</div>

<footer>
	<div class='logo'>
		<img src={% static "logo.png" %} alt="logo">
	</div>
	<div class="contact">
			<p class="phone">+7(<span>926</span>)175-21-82</p>

		<a href="https://wa.me/+79261752182"><img alt="Whatsapp" src={% static "whatsapp.png" %}></a>
		<a href="https://t.me/Maga_autoservice"><img src={% static "telegram.png" %} alt="Telegram"></a>
		<a href="viber://chat?number=%2B79261752182"><img src={% static "viber.png" %} alt="Viber"></a>
	</div>
</footer>





<script type="text/javascript">
		function toggleAppointment()
		{
			const appointment = document.querySelector(".appointment");
			appointment.classList.toggle('active');
		}
	</script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd', 
    firstDay: 1,
    monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
    monthNames: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
    dayNamesMin: [ "Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб" ],
    dayNames: [ "Воскресенье", "Понедельник", "Вторник", "Среда",  "Четверг", "Пятница", "Суббота" ],
    minDate: new Date(),
  });
    $( "#dp" ).datepicker({ dateFormat: 'yy-mm-dd', 
    firstDay: 1,
    monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
    monthNames: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
    dayNamesMin: [ "Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб" ],
    dayNames: [ "Воскресенье", "Понедельник", "Вторник", "Среда",  "Четверг", "Пятница", "Суббота" ],
    minDate: new Date(),
  });
  } );
</script>
<script type="text/javascript">
		function toggleMenu()
		{
			const appointment = document.querySelector(".navigation");
			appointment.classList.toggle('active');
			const menu = document.querySelector(".bx.bx-menu");
			menu.classList.toggle('active');
		}
	</script>

{% block script %}
{% endblock %}
</body>
</html>