{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Swiper js-->
<div class="swiper mySwiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
    	<div class="swiper-text">
    	<p>Ищете хороший</p>
    	<p>Автотехцентр?</p>
    	<p>Получите качественный сервис за справедливую цену</p>
    	</div>
    	<img src={% static "pexels-cottonbro-4489732.jpg" %}>
    </div>

    <div class="swiper-slide"><div class="swiper-text">
    	<p>Полный сервис по</p>
    	<p>Авторемонту и техобслуживанию</p>
    	<p>Более 10 лет качественного автосервиса</p>
    	</div><img src={% static "pexels-albin-berlin-919073.jpg" %}></div>
    <div class="swiper-slide"><div class="swiper-text">
    	<p>Доверьте своё авто</p>
    	<p>Квалифицированным специалистам</p>
    	<p>Сервис, техническое обслуживание и ремонт от профессионалов</p>
    	</div><img  id="pic3" src={% static "pexels-cottonbro-4488642.jpg" %}></div>
    
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<!-- End Swiper js-->


<div class="bg">
	<div class='logo'>
		<img src={% static "logo.png" %} alt="logo">
	</div>
	<p  class="bg_text1">Мы ценим Ваше <span>время</span></p>
	<p class="bg_text2">Привозите машину <span>когда</span> Вам <span>удобно</span></p>
	<img class="keys" src={% static "keys.png" %}>
	<p class="p" onclick="window.location.href='#our-contacts';">Приехать</p>
</div>


<p id="service-list"></p>
<div class="service-list" id="service-list">
	<div class="service-list-title">
		<h1>Наши услуги</h1>
		<p class="line"></p>
		<p>Мы предлагаем полный сервис по авторемонту <br> и техническому обслуживанию</p>	
	</div>

		<div class="card-container">
			<div class="card">
				<img src={% static "engine.jpg" %}>
				<div class="service-text">
					<h2>Двигатель</h2>
					<p> Техническое обслуживание и ремонт любой сложности. Ощути всю мощь своего авто</p>
				</div>
			</div>
			<div class="card">
				<img src={% static "oil.jpg" %}>
				<div class="service-text">
					<h2>Масло/фильтры</h2>
					<p>Замена расходных материалов для долгой и исправной работы Вашего автомобиля</p>
				</div>
			</div>
			<div class="card">
				<img src={% static "breaks.jpg" %}>
				<div class="service-text">
					<h2>Тормозная система</h2>
					<p>Исправная тормозная система - залог безопасности Вас и Ваших пассажиров</p>
				</div>
			</div>
			<div class="card">
				<img src={% static "transmission.jpg" %}>
				<div class="service-text">
					<h2>Коробка передач</h2>
					<p>Своевременное обслуживание КП позволит получить удовольствие от комфортной и плавной езды</p>
				</div>
			</div>
			<div class="card">
				<img src={% static "electro.jpg" %}>
				<div class="service-text">
					<h2>Электрика</h2>
					<p>Установка нового или замена старого оборудования. Настроим удобство и безопасность Вашего авто</p>
				</div>
			</div>
			<div class="card">
				<img src={% static "side.jpg" %}>
				<div class="service-text">
					<h2>Кузовные работы</h2>
					<p>Вернём привлекательный внешний вид Вашему автомобилю</p>
				</div>
			</div>
		</div>
		

</div>

<div class="catalog">
	<div class="catalog-photo"></div>
	<div class="catalog_h"><h2>Cписок наших услуг</h2></div>
	<div class="catalog-services first">
		<table>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Эвакуация Авто</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт и замена трансмиссии</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт топливной системы</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт Выхлопной Системы</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Электрическая диагностика</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Сход / развал</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт стартера и аккумулятора</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Кузовные работы</p></td>
			</tr>
			<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Компьютерная диагностика</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Малярные работы</p></td>
		</tr>
		<tr>
				<td></td>
				<td><p class="service-list-active" onclick="toggleServices()">Ещё</p></td>
		</tr>
		</table>
	</div>
	<div class="catalog-services second">
	<table>
		
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Регулярное ТО</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт и замена тормозной системы</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт Кондиционера</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Ремонт и замена шин</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Промывка и ремонт системы охлаждения двигателя</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Замена масла</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>Настройка работы рулевого управления и подвески</p></td>
		</tr>
		<tr>
				<td><i class='bx bxs-wrench'></i></td>
				<td><p>И др.</p></td>
		</tr>
		<tr>
				<td></td>
				<td><p class="service-list-active2" onclick="toggleServices()">Скрыть</p></td>
		</tr>
	</table>
	</div>
</div>

<div class="assignment2" id="assign">
		<h1>Записаться к нам</h1>
    <form action="{% url 'thanks_page' %}" method="POST">{% csrf_token %}
    		<div><p>Имя: </p> <div class="input">{{ form2.order_name }}</div></div>
        <div><p>Телефон: </p> <div class="input">{{ form2.order_phone}}</div></div>
        <div><p>Желаемая дата: </p><div class="input" id="datepicker2">{{ form2.coming_date }}</div> </div>
        {{ form.errors }}
        <button type="submit">Отправить</button>
    </form>
</div>

<p id="about_us"></p>
<div class="about_us" id="about_us">
	<h1>О нас</h1>
	<p class="line"></p>
	<p class="span"></p>
	<div class="achievements"><p><span>10</span> лет на рынке</p></div>
	<div class="achievements"><p><span>>1000</span>обслуженных автомобилей</p></div>
	<div class="achievements"><p><span>7</span> специалистов высокой квалификации</p></div>
	<div class="achievements"><p><span>100%</span>довольных клиентов</p></div>

	<div class="all_values">
	<div class="values">
		<h2>Наша миссия</h2>
		<p>Наша миссия заключается в том, чтобы всегда обеспечивать высочайший уровень обслуживания клиентов, развивать нашу команду и стремиться постоянно совершенствоваться.</p>
	</div>

	<div class="values">
		<h2>Наше видение</h2>
		<p>Быть лидером в области автомобильного сервиса. Мы будем внедрять новаторские идеи, решая проблемы и выходя за рамки ожиданий наших клиентов.</p>
	</div>
	<div class="values">
		<h2>Основные ценности</h2>
		<table>
			<tr>
				<td><i class='bx bx-check'></i></td>
				<td><p>Командная работа через доверие и уважение.</p></td>
			</tr>
			<tr>
				<td><i class='bx bx-check'></i></td>
				<td><p>Приверженность данным обещаниям.</p></td>
			</tr>
			<tr>
				<td><i class='bx bx-check'></i></td>
				<td><p>Подотчетность на всех уровнях.</p></td>
			</tr>
			<tr>
				<td><i class='bx bx-check'></i></td>
				<td><p>Стремление быть лучшими.</p></td>
			</tr>
		</table>
	</div>
	</div>
</div>


<div class="advantages">
	<div class="adv1">
		<h1><span>Наши</span><br>преимущества</h1>
		<p class="line"></p>
		<p class="p" onclick="window.location.href='#our-contacts';">Приехать</p>
	</div>

	<div class="adv2">
		<img src="{% static 'client-oriented.png' %}">
		<div class="h2">
			<h2>Клиенто- ориентированный сервис</h2>
		</div>
		
	</div>

	<div class="adv3">
		<img src="{% static 'fair-price.png' %}">
		<div class='h2'>
			<h2>Разумные цены</h2>
		</div>
	</div>

	<div class="adv4">
		<img src="{% static 'car-parts.png' %}">
		<div class="h2">
			<h2>Детали высокого качества</h2>
		</div>
		
	</div>


</div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script type="text/javascript">
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        effect: "fade",
        loop: true,
        autoplay: {
          delay: 5500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>



    <script type="text/javascript">
		function toggleServices()
		{
			const add = document.querySelector(".service-list-active");
			add.classList.toggle('active');
			const add2 = document.querySelector(".service-list-active2");
			add2.classList.toggle('active');
			const add3 = document.querySelector(".catalog");
			add3.classList.toggle('active');

		}
	</script>
{% endblock %}